<% provide(:title, 'ulima') %>
<h1>ulimaへようこそ</h1>

<div class="row">
  <div class="content_title">
    <h3>最新のアイテム</h3>
  </div>
  <% if @items.any? %>
  <div class="col-md-12">
    <ol class="items_home">
      <%= render @items %>
    </ol>
  </div>
  <div class="paginate">
    <%= paginate @items %>
  </div>
  <% end %>
</div>
