<% provide(:title, 'ulima') %>
<h1>ulimaへようこそ</h1>

<div class="content_title">
  <h3>最新のアイテム</h3>
</div>
<div class="row">
  <% if @items.any? %>
  <div class="col-md-12">
    <ol class="items_home">
      <%= link_to "#" do %>
        <%= render @items %>
      <% end %>
    </ol>
  </div>
  <div class="paginate">
    <%= paginate @items %>
  </div>
  <% end %>
</div>
