<h1>ulima</h1>
<%= @user.name %>さま

<p>ulimaのご利用ありがとうございます。</p>
<p>こちらはパスワード再設定のご案内です。</p><br>

<p>以下のリンクをクリックし、パスワードを再設定してください。</p>
<%= link_to "パスワードを再設定する", edit_password_reset_url(@user.reset_token, email: @user.email) %>
