<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-3">
    <section class="user_info">
      <h1><%= @user.name %></h1>
    </section>
  </aside>
  <div class="content_title">
    <h3>アイテム一覧</h3>
  </div>
  <% if @user.items.any? %>
  <div class="col-md-9">
    <ol class="items">
      <%= link_to "#" do %>
        <%= render @items %>
      <% end %>
    </ol>
  </div>
  <div class="paginate">
    <%= paginate @items %>
  </div>
  <% end %>
</div>
